<h1>login to account</h1>

<%= form_tag sessions_path do %>
  <div class="col-md-4">
    <div class="form-group">
    <%= label_tag "User Name" %>
    <%= text_field_tag :name,"", :class => "form-control" %>
    <%= label_tag "Password" %>
    <%= password_field_tag :password, nil, :class => "form-control" %>
    </div>
    <%= submit_tag "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>
